body{
    background-image: url(Assets/media/Sunny3.jpg) ;  
}

nav ul{  
    display: flex;
    
}

nav li{
     margin-right: 15px;
     list-style: none;

}
nav li:hover{
    background-color: rgb(187, 231, 231);
    padding: 10px 10px;
}


nav li a{
    text-decoration: none;

}